
*{
    font-family: Microsoft Yahei;
    font-size: 16px;
}


.fotoheader{
    padding-bottom: 480px;
    background-image: url(Fotos/LBJ27000.jpg);
    background-attachment: fixed;
    background-size: cover;  
}

.fotoheader p{
    padding-top: 20px; 
    margin-left: 30px;
}

.fotoheader a{
    color: #FF0000;
    border: 1px solid #FF0000;
    padding: 10px;
}

.fotoheader a:hover{
    color: black;
    text-decoration: none;
}

.col-md-7{
    margin-left: 50px;
}

.col-md-7 h1{
    color: #FF0000;
}

.col-md-7 p{
    margin-top: 30px;
    font-family: Microsoft Yahei Light;
    font-size: 1.1em;
}

iframe{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.col-md-4{
    margin-left: 20px;
    background-color: #F7F7F7;;
}

.col-md-4 h1{
    color: #FF0000;
}

.col-md-4 h4{
    margin-top: 30px;
   
}

.col-md-4 p{
    font-family: Microsoft Yahei Light;
    font-size: 1.1em;
}